/* accessories.css */




/* ------------------------------------------- */
/* hero */

#accessories .hero {
    background-image: url('../img/why_subscribe/Lug_Carrie_why_subscribe_hero_poster.jpg');
    height: calc(75vh - var(--header_height));
    min-height: fit-content;
    flex: 1;
    margin-bottom: 2rem;
}

#accessories .hero h1 {
    --min-fs:3;
    --max-fs:5;
    margin-top:0;
}

#accessories .hero.bg_cover::before {
    background: rgba(32,32,32,0.5);
    background: linear-gradient(
                -90deg, 
                rgba(var(--navy-rgb),0) 0%, 
                rgba(var(--navy-rgb),0.66) 100%);
}


/* ------------------------------------------- */
/*  */


#accessories .listing {
    margin-bottom: 5rem;
}

#accessories .select_group:first-of-type {
    min-width: 154px;
}


/*  */

#accessories .three_col {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#accessories .column_quarter {
    max-width: calc((1600px * var(--columns)/10) - (var(--columns) * 2rem ) );
    /* max-width: calc((100vw * var(--columns)/10) - (var(--columns) * 2rem )); */
    width: calc(var(--col-width) * var(--columns));
}

@media screen and (max-width:1080px){ 
    #accessories .column_quarter {
        --columns: 5;
        max-width: calc((100vw * var(--columns)/10) - (var(--columns) * 1rem ));
        /* width: calc(var(--col-width) * var(--columns)); */
        width: 50%;
    }
}

@media screen and (max-width:880px){ 
    #accessories .column_quarter {
        --columns: 10; 
        /* max-width: calc((100vw * var(--columns)/10) - (var(--columns) * 2rem )); */ */
        max-width: calc((100vw * var(--columns)/10) - 1rem );
        width: 100%;
    }
}

.column_quarter ._group {
    height: 100%;
}

#accessories .column_quarter .text_block { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}