/* footer */


footer, .footer {
    background-color: var(--navy);
    color: white;
    padding: 1rem 0 ;
    /* margin-top: 5rem;     */
    transition: all 0.25s ease-in-out;

}


@media screen and (max-width: 67.5em){
    footer, .footer {
        margin-top: 0;
    }
}

.footer_row {
    justify-content: space-between;
    margin: 0 auto 2rem;        
    max-width: var(--mx-width);
    gap:1rem
}
@media screen and (max-width: 75em){
    .footer_row {            
        /* margin: 0 auto; */
    }
}

.footer_cols_wrapper {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width:100%
}
.footer_group_left {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 2rem;
}
.footer_group_right {
    max-width: 300px;
}

@media screen and (max-width: 67.5em) {
    .footer_cols_wrapper {
        gap: 1rem 5rem;
    }
}

.footer div[class*="col_"]:first-of-type {
    /* max-width: 200px; */
}
.footer div[class*="col_"] {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}
.footer div[class*="col_"]:not(:first-of-type) {
    justify-content: flex-start;
}
.footer div[class*="col_"]:last-of-type {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 5%; */
    margin-right: 0;
}


@media screen and (max-width: 80em) {
    .footer div[class*="col_"]:last-of-type {
        margin-left:0;
    }
}

.footer_text_wrap,
.footer [class*="_text_wrap"] {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer_menu_wrap {
    width: 45%;
}


/* --------------------------------------- */

.footer h6, .footer h6 a, .footer p, .footer a, .footer li {
    text-align: left;
    color: var(--white);
}
.footer h6, .footer h6 a {
    color: var(--white);
    font-size: 13px !important;
    margin-top: 1rem;
}

.footer h6, .footer h6 a {
    font-weight: 600;
    text-transform: uppercase;
}

.footer div[class*="col_"]:nth-of-type(3) h6 { 
    margin-bottom: 1rem;
}


.footer p, .footer a, .footer li {
    color: white;
}

.footer p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.footer ul {
    margin-top: 0;
}

.footer p, .footer a, .footer li { 
    font-size: 13px;
    color:rgba(var(--white-rgb),1.0);
}

.footer li {
    /* font-size: 11px; */
}

.footer a, .footer_link {
    color:rgba(var(--white-rgb),1.0) !important;
    font-weight: 400;
}

.footer a:hover, .footer_link:hover {
    color:rgba(var(--white-rgb),0.8);
}


/* col 03 */

/* _forms.css */

/* col 04 */
/*  ======================================= */


.footer ul {
    text-indent: 0;
    list-style: none;
}
.footer li {
    margin: 0 0 0 -2.5rem;
}
.footer li a {}


/*  ====================================== */

.footer_credits_row {
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--mx-width);
}
@media screen and (max-width: 67.5em) {
    .footer_credits_row {
        flex-direction: row;
    }
}

.footer_signoff_wrap {
    align-items: flex-end;
}

.footer_social {}

.footer_social {
    position: relative;
    display: block;
}

.footer_social_link { margin-right: 1rem; }
.footer_social_link svg path { fill:rgba(var(--white-rgb),1.0);}
.footer_social_link:hover svg path { fill:rgba(var(--white-rgb),0.8); }


/*  ====================================== */

.footer_credits {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: flex-end;
}
@media screen and (max-width: 67.5em) {
    .footer_credits {
        /* flex-direction: column; */
        gap: 1rem;
    }
}

.footer_credit {}
.footer_credit span {
    margin-right: 1rem;
}
.footer_credit span,
.footer_credit span a {
    font-size: 8px;
    color: white !important;
    /* font-family: var(--font-family); */
}


/* logo */
/*  ======================================= */

.footer_logo { 
    display: inline-block;
    margin-right: 2rem;
}

.footer_logo svg path {
    fill: rgba(var(--white-rgb),1.0);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;    
}

/* @media screen and (max-width: 650px){
    .footer_logo {
        width: 34px;
    }
    .footer_logo svg.logo path.type {
        display: none;
    }
} */

a:hover .footer_logo svg path {
    fill: rgba(var(--theme-red-rgb),0.9);    
}

.footer_signoff_right{ 
    align-items: flex-end;
}

    @media screen and (max-width: 650px){
    .footer_signoff_wrap {
        align-items: flex-start;
    }
}