/* 
fullscreen.css 
pop up 
*/

#fullscreen {
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    width: 100%;
    width: 100vw;
    left: 0;
    /* top: var(--header_height);
    height: calc(100vh - var(--header_height)); */
    top:0;
    padding-top: var(--header_height);
    height: 100vh;
    background-color: rgba(var(--white-rgb), 0.95);
    -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    z-index: -1111;
}

@media screen and (max-width: 1080px){
    #fullscreen {
        overflow-y: auto !important;
    }
}

#fullscreen.active {
    visibility: visible;
    opacity: 1;
    z-index: -1;
}


#fullscreen ._row {
    width: 100%;
    justify-content: center;
    align-content: center;
    gap:0;
}

@media screen and (max-width: 1080px){
    #fullscreen .three_col._row {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        min-height: 0; /* without min-height/height:0 flex:1 doesn't work */
        overflow: auto;
        /* padding-top: var(--header_height); */
        padding-top: 5%;
        padding-bottom: var(--header_height);
    }
}    

#fullscreen [class*="_block"] {
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

[class*="gs_icon"] {
    padding:0 1rem 1rem 1rem;
}

[class*="gs_icon"] svg {
    height: 60px;
}

#fullscreen .column_third {
    max-width:calc((1200px * var(--columns)/10) - (var(--columns) * 1rem ));
}

@media screen and (max-width: 1200px){
    #fullscreen .column_third {
        /* width: 500px; */
        max-width:calc((100vw * var(--columns)/10) - (var(--columns) * 1rem ));
    }
}

#fullscreen .column_third [class*="_group"]{
    height:100%;
}
