/* home.css */

.home {}

.hero {
    width: 100%;    
    height: 100vh;
    padding-top: var(--header_height);
    color: white;
    overflow: hidden;
}


/* ------------------------------------------- */
/* content */

.hero [class*="column"] {
    padding: 0 5%;
    margin-right: auto;
}

.hero .large {
    max-width: 45ch;
    margin: auto;
}

@media screen and ( max-width: 67.5rem ){
    .hero [class*="column"] {
        margin-left: auto;
    }
}


/* ------------------------------------------- */
/* play video + overlay */


#backgroundVideo {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    /* height: 95vh; */
    /* overflow-y: hidden; */
    z-index: -1;
}

video:after {
    /* background-image: ; */
}

.overlay {
    background: 
        linear-gradient(
        to bottom right, 
        rgba(var(--navy-rgb),0.3), 
        rgba(var(--blue-rgb),0.3)), 
        url("../img/pixel.svg") repeat;
    background-size: 4px 4px;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;    
}


/* ------------------------------------------- */
/* play video */


.play_button {
    cursor: pointer;
}

.play_button svg path  {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;  
}
.play_button:hover .play .circle  {
    fill: rgba(var(--primary-rgb), 0.8);
    stroke: 3px solid white;
}


/* ------------------------------------------- */
/* page_down scroll btn */


.page_down_wrap {
    bottom: 1rem;
    padding: 0.5rem;
    border-radius: 30px;
    background-color: rgba(var(--white-rgb), 0.1);

    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.page_down_wrap:hover{
    background-color: rgba(var(--white-rgb), 0.3);
}

.page_down_wrap svg {
    position: relative;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.page_down_wrap svg path {
    fill: rgba(var(--white-rgb), 0.8);
}
.page_down_wrap:hover svg path {
    fill: rgba(var(--white-rgb), 1.0);
}

/* ------------------------------------------- */
/* why subscribe */

.why_subscribe {}

.why_subscribe [class*="row"] {
    gap:3rem;
}

.why_subscribe .img_wrap {
    margin-top: 10%;
    margin-bottom: 10%;
}
.why_subscribe .img_wrap img {
    height: 70vh;
}
@media screen and ( max-width: 1080px ) {
    .why_subscribe .img_wrap img {
        height: 90vw;
    }
}


.why_subscribe [class*="column_60"] {
    max-width: calc((100vw * var(--columns)/10) - var(--columns) * 1rem ) ;
}
@media screen and ( max-width: 1080px ) {
    .why_subscribe [class*="column_60"] {
        max-width: 90vw;
    }
}

/* ------------------------------------------- */
/* Family & Commuter scroller */

[class*="set_up-"] {}

.set_up-family_sect  {
    background-color: var(--gray-100);
    min-height: calc(100vh - var(--header_height));
}

.set_up-commuter_sect {}

/* flickity */

.gallery {
    /* background: #EEE; */
}

[class*="set_up-"] .flickity-viewport {
    height: calc(100vh - var(--header_height)) !important;
}

[class*="set_up-"] .flickity-slider {
    height: calc(100vh - var(--header_height)) !important;
}
  
[class*="set_up-"] .gallery-cell {
    width: 66%;
    /* height: 200px; */
    margin-right: 10px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
    height: calc(100vh - var(--header_height)) !important;

}
@media screen and ( max-width: 1080px ) {
    [class*="set_up-"] .gallery-cell {
        width: 100vw;
    }
}

:root {
    --desc_height:285px;
}

[class*="set_up-"] .gallery-cell .img_wrap{
    /* height: 70vh; */
    margin: 0;
    height: calc(70vw - var(--desc_height));
}

[class*="set_up-"] .gallery-cell img {
    display: block;
    width: unset;
    object-fit: cover;
    /* height: 40vh; */
    width:100%;
    padding: 10%;
    top:0;
    transform: scale(0.75) translateY(-15%);
    -webkit-transition: all 0.5s ease-in-out ;
        transition: all 0.5s ease-in-out ;
}
.set_up-family_sect .gallery-cell img {
    filter:brightness(0.98);
}

[class*="set_up-"] .gallery-cell.is-selected img {
    padding: 0 2%;
    -webkit-transition: all 0.5s ease-in-out ;
        transition: all 0.5s ease-in-out ;
}

@media screen and ( max-width: 1080px ) {
    [class*="set_up-"] .gallery-cell img {
        transform: unset;
        min-height: 40vh;
    }
}


[class*="set_up-"] .gallery-cell .text_wrap{
    position: absolute;
    z-index: 111;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out 0.75s;
        transition: all 0.25s ease-in-out 0.75s;
}
@media screen and ( max-width: 1080px ) {
    [class*="set_up-"] .gallery-cell .text_wrap {
        width: 75vw;
    }
}

[class*="set_up-"] .gallery-cell.is-selected .text_wrap{
    opacity: 10;
}

[class*="set_up-"] .gallery-cell h3 {
    color: var(--blue);
    margin-bottom: 1rem;
} 
@media screen and ( max-width: 1080px ) {
    [class*="set_up-"] .gallery-cell h3 {
        --min-fs: 2;
        --max-fs: 3;
    }
}

[class*="set_up-"] .gallery-cell h3, 
[class*="set_up-"] .gallery-cell p {
    text-shadow: 0 0 1rem rgb(255 255 255 / 95%);
}

[class*="set_up-"] .desc {
    max-width: 35ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


[class*="set_up-"] button[class*=".flickity"],
[class*="set_up-"] .flickity-prev-next-button {
    position: absolute !important;
}

[class*="set_up-"] .flickity-page-dots { 
    top: 35px;
    bottom:unset;
    height: 15px;
}

[class*="set_up-"] .gallery-cell .button_wrap_center_vert {
    margin: 0 auto;
}

/* ------------------------------------------- */
/* why choose */

.why_choose {}


.why_choose [class*="column"]:first-of-type {
    /* padding: 0 5%; */
}

.why_choose [class*="row"] {
    gap:3rem;
}

.why_choose .img_wrap {
    margin-top: 10%;
    margin-bottom: 10%;
}
.why_choose .img_wrap img {
    height: 70vh;
}

/* ------------------------------------------- */
/* tab_block */

.tab_block {}

.tab-item {
    color: rgba(var(--white-rgb), 0.8);
}


/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Style the tab */
.tabs {
    overflow: hidden;
    /* border: 1px solid #ccc;
    background-color: #f1f1f1; */
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
  
/* Style the buttons inside the tab */
.tabs .tab-item {
    background-color: inherit;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
@media screen and ( max-width: 1080px ) {
    .tabs .tab-item {
        font-size: 16px;
        padding: 0.5rem 0.75rem;

    }
}


.tabs .tab-item a {
    color: rgba(var(--white-rgb), 0.4);
}
  
  /* Change background color of buttons on hover */
  .tabs .tab-item:hover {
    /* background-color: #ddd; */
    /* border-bottom: 2px solid rgba(var(--white-rgb),0.8); */
  }
  .tabs .tab-item:hover a {
    color: rgba(var(--white-rgb), 0.8);
  }
  
  /* Create an active/current tab-item class */
  .tabs .tab-item.active {
    border-bottom: 2px solid rgba(var(--white-rgb), 1);
  }

  .tabs .tab-item.active a {
    color: rgba(var(--white-rgb), 1);
  }
  
  /* Style the tab content */
  .tab-pane {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc;
    border-top: none; */
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }

  .tab-pane p {  }

  .tab-pane.active {
    display: block;
  }
  
  /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  
  .topright:hover { color: red; }



/* ------------------------------------------- */
/* accessories */


.accessories {}

.accessories ._row {
    gap: 1rem
}

.accessories h2 {
    margin-bottom: 0;
}

.accessories .three_col
/* ,
.accessories .three_col h6,
.accessories .three_col h5,
.accessories .three_col p  */
{
    text-align: left !important;
}

.accessories h6 {
    font-size: 16px;
}

.accessories h5 {
    font-weight: 600;
}

.accessories [class*="column"]:first-of-type {
    /* padding: 0 5%; */
}

.accessories .img_wrap {
    /* margin-top: 10%; */
    margin-bottom: 1rem;
}

.accessories .img_wrap img {
    /* height: 40vh; */
}



/* ------------------------------------------- */
/* bikes */

.tern_gsd, .tern_hsd {}

section[class*="tern_"] {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section[class*="tern_"] h2 {
    margin-bottom: 0;
}


/* ------------------------------------------- */
/* testimonials */

.testimonials .column_third ._group {
    padding: 1rem;
    text-align: left;
}

.testimonials h2 {
    margin-bottom: 0;
}

.testimonials h5 {
    margin-bottom: 0.5rem;
}

.testimonials h6 {
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.stars {
    margin-bottom: 0.5rem;
}



/* ------------------------------------------- */
/* service & support */


.service {
    background-image: url("../img/service_fullpage_bg.jpg") ;
    width:100%;
    height: 100%;
}
